# WhisperWard OSINT - requirements.txt

# Core webapp
fastapi
uvicorn[standard]
jinja2
python-multipart
requests
aiohttp
Pillow
imagehash
beautifulsoup4
lxml
python-dotenv
sqlalchemy
reportlab
typer[all]
rich